#tweaksForm {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.pnach-preview {
    width: 100%;
    height: 100%;
    min-height: 360px;
    max-height: 800px;
}

.deadzone-chart {
    width: 100%;
    height: 160px;
    max-height: 160px;
    display: block;
}
